.logo-right {
  position: absolute;
  top: 500px; /* Adjust this to align vertically with the left logo */
  right: 10px; /* This keeps the right logo on the right */
  width: 10%; /* Adjust the size of the logo */
}

.logo-left {
  position: absolute;
  top: 500px; /* Same top value to align both logos horizontally */
  right: 500px; /* Adjust this to move the second logo */
  width: 8.5%; /* Adjust the size of the second logo */
}

body {
  line-height: 1.6; /* Global line-height for all text */
}

h1, h2, h3 {
  margin-bottom: 20px; /* Add space after headers */
}

li {
  line-height: 1.5; /* Adjust line height for list items */
  margin-bottom: 10px; /* Add space between list items */
}
